.product-preamble {
  display: flex;
  font-size: 24px;
  margin: 30px 0;
  width: 100%;

  &__content,
  &__thumb {
    width: 50%;
  }

  &__content {
    padding-right: 5%;
  }

  @media (max-width: $xxl - 1) {
    font-size: 18px;

    &__content {

    }
  }
}

.product-featured-itinerary {
  margin-bottom: 50px;
  width: 100%;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 18px;

    span {
      display: block;
      width: 70px;
      font-size: 14px;
      font-weight: 400;
    }

    strong {
      display: block;
      width: 100%;
      font-size: 22px;
      font-weight: 900;
      margin-left: 10%;

      @media (max-width: $xxl - 1) {
        font-size: 18px;
      }
    }
  }
}

.product-included {
  width: 100%;
  margin-bottom: 50px;

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  li {
    display: flex;
    align-items: center;
    background-size: 30px;
    margin-bottom: 20px;
    padding: 0 60px;
    min-height: 45px;
    width: 25%;
    font-size: 16px;
    background-image: url('/icons/checkmark.svg');
    background-size: 30px;
    background-position: center left;
    background-repeat: no-repeat;

    @media (max-width: $xxl - 1) {
      font-size: 14px;
    }
  }
}

.product-included-info {
  margin-bottom: 50px;
  font-size: 14px;

  &__item {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #fbfbfb;

    @media (max-width: $mobile) {
      flex-direction: column;
    }

    &__header {
      width: 20%;
      font-weight: 900;

      @media (max-width: $mobile) {
        width: 100%;
      }
    }

    &__description {
      width: 80%;

      @media (max-width: $mobile) {
        width: 100%;
      }
    }
  }

}

.product-details-link {
  width: 100%;
  clear: both;

  &:before,
  &:after {
    content: "";
    display: table;
    width: 100%;
  }

  a {
    float: right;
    font-size: 16px;
    text-decoration: underline;
    color: #000;

    @media (max-width: $xxl - 1) {
      font-size: 14px;
    }
  }
}

.product-reviews {
  background: #f7f7f7;
  padding: 60px 45px 40px;
  width: calc(100% + 30px);
  margin: 0 -15px 40px;

  @media (max-width: $xxl - 1) {
    padding: 40px 20px 30px;
  }

  &__blocks {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    width: 35%;
    padding: 0 50px;

    @media (max-width: $xxl - 1) {
      padding: 0 35px;
    }
  }

  &__overview-block {
    width: 30%;
    font-size: 16px;

    @media (max-width: $xxl - 1) {
      font-size: 14px;
    }

    h4 {
      font-size: 72px;
      font-family: $primary-font;
      line-height: 1;
      margin-bottom: 14px;

      small {
        font-size: 42px;
        vertical-align: top;
        font-weight: 700;

        @media (max-width: $xxl - 1) {
          font-size: 34px;
        }
      }
    }

    a {
      color: #000;
      text-decoration: underline;
    }
  }

  &__overview-stars {
    display: flex;
    margin-bottom: 20px;

    img {
      height: 28px;
      margin: 0 3px;
    }
  }

  &__review-top {
    display: flex;
    font-size: 16px;
    margin-bottom: 30px;
  }

  &__stars {
    margin-right: 18px;

    img {
      height: 16px;
    }
  }
}

.product-departures {
  margin-bottom: 40px;

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
      background: none;
      border: none;
      padding: 0;
      text-decoration: underline;
      margin: 0 5px;

      &.active {
        font-weight: 700;
        text-decoration: none;
      }
    }

    .product-departures__pagination__arrow {
      text-decoration: none;

      &__left {
        margin-right: 48px;
      }

      &__right {
        margin-left: 48px;
      }
    }
  }
}

.product-suggested {

  h2,
  h3,
  h4 {
    font-family: $primary-font;
  }

  h2 {
    font-size: 18px;
    font-size: 700;
    margin-bottom: 40px;
  }

  &__item {
    display: block;
    color: #000;
    //margin-bottom: 20px;
    box-shadow: 0 0 24px 0 rgba(41, 44, 51, 0.2);

    &:hover {
      color: #000;
    }

    &__thumb {
      height: 250px;
      background-size: cover;
      background-position: center;
    }

    &__heading {
      padding: 12px 15px;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #fff;

      h3 {
        font-size: 16px;
        font-weight: 700;
      }

      h4 {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
      }

    }
  }
}
