//html
//  overflow-x: hidden

html, body {
  font-family: $primary-font;
}

//font-family: 'Merriweather', serif
//font-family: 'Montserrat', sans-serif

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1rem;
}

.fz-20 {
  font-size: 20px;
}

.fz-30 {
  font-size: 30px;
}

input, button {
  &:focus {
    outline: none;
  }
}

button, input[type=submit] {
  cursor: pointer;
}

a {
  color: #ffb114;

  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  height: 1px;
  background: #b8becc;
}

input, select, textarea, button {
  border: none;
}

.overflow-hidden {
  overflow: hidden;
}

.f-grow {
  flex-grow: 1;
}

// FORM CHECKBOX
input[type=checkbox] {
  display: none;

  & + label {
    position: relative;
    margin-top: 20px;
    padding: 4px 8px 4px 32px;

    &:before {
      position: absolute;
      content: "";
      top: 4px;
      left: 0;
      width: 24px;
      height: 24px;
      border: solid 2px #292c33;
    }
  }

  &:checked {
    & + label {
      box-shadow: 0 4px 8px 0 rgba(41, 44, 51, 0.2);

      &:before {
        position: absolute;
        font-family: $icon-font;
        content: "";
        top: -2px;
        left: 0;
        width: 24px;
        height: 24px;
        border: none;
        font-size: 24px;
        color: $green;
      }
    }
  }
}

input[type=radio] {
  @extend input[type=checkbox];

  & + label {
    margin-top: 5px;
  }
}

// FORM
select, textarea {
  background: $white;
  border: 1px solid #8a8f99;
  padding: 4px 12px;
  max-width: 100%;
  width: 100%;
}

textarea, input {
  &::placeholder {
    font-size: 14px;
    color: #526173;
  }
}

.label-placeholder {
  position: absolute;
  top: 4px;
  left: 14px;
  font-size: 14px;
  color: #526173;
  font-weight: 300;
}

.small-select {
  width: 95px;
  height: 56px;

  &:after {
    color: $white;
    right: 28px !important;
  }

  select {
    padding-left: 32px;
    width: 95px;
    height: 56px;
    display: flex;
    align-items: center;
    color: $white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }
  }
}

.radio-in-line {
  display: flex;
  justify-content: space-between;
  border: 1px solid $table-border-color;

  input[type=radio] {
    & + label {
      //min-width: 90px
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 11px 6px;
      cursor: pointer;
      margin: 0;
      letter-spacing: 1px;
      font-size: 12px;
      font-weight: bold;

      @extend .transform-uppercase;

      color: $table-border-color;
      width: 100%;

      //white-space: nowrap
      &:first-of-type {
        width: 200%;
      }

      &:before {
        display: none;
      }
    }

    &:checked {
      & + label {
        box-shadow: none;
        color: $white;

        &:before {
          position: absolute;
          content: "";
          display: block;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $orange;
          z-index: -1;
        }
      }
    }
  }
}

.art-select {
  position: relative;
  margin-top: 0.5rem;

  &:after {
    position: absolute;
    content: "";
    font-family: $icon-font;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    font-size: 12px;
  }

  select {
    -webkit-appearance: none;
  }
}

// TABLES
.table th, .table td {
  border-top: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f5f7fa;
}

// ORANGE BULLET LIST
.orange-bullet-list {
  padding-left: 30px;

  li {
    position: relative;
    margin-bottom: 2rem;

    @media (max-width: $mobile - 1) {
      margin-bottom: 1rem;
    }

    &:before {
      position: absolute;
      content: "";
      top: 0.3rem;
      left: -20px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: $orange;
    }
  }
}

.blue-span-list {
  span {
    color: $blue;
  }
}

// TEXT
.text-align-center {
  text-align: center;
}

.transform-uppercase {
  text-transform: uppercase;
}

.text-align-right {
  text-align: right;
}

.two-columns {
  @include column(200px, 2, 30px, none);
}

// BORDERS
.border-none {
  border: none;
}

.gray-bg {
  background: $gray;
}

.orange-bg {
  background: $orange;
}

.blue-bg {
  background: $blue;
}

.light-blue-bg {
  background: $light-blue;
}

.c-blue {
  color: $blue;
}

.c-orange {
  color: $orange;
}

.c-gray-star {
  color: $gray-star;
}

// BUTTONS
.btn {
  border-radius: 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 2px;
  text-align: center;

  @extend .transform-uppercase;
}

.btn-orange {
  @extend .orange-bg;

  color: $white;

  transition: background 0.2s;

  &:hover {
    @extend .blue-bg;

    color: $white;

    transition: background 0.2s;
  }
}

.btn-blue {
  @extend .blue-bg;

  color: $white;

  transition: background 0.2s;

  &:hover {
    @extend .orange-bg;

    color: $white;

    transition: background 0.2s;
  }
}

.btn-red {
  background: #d0021b;

  color: $white;

  transition: background 0.2s;

  &:hover {
    @extend .blue-bg;

    color: $white;

    transition: background 0.2s;
  }
}

.nav-btn {
  height: 48px;
  max-width: 200px;
  width: 100%;
  border: solid 2px #8a8f99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  cursor: pointer;

  &:first-of-type {
    margin-right: 40px;
  }

  &__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}

// BLUE CONTAINER
.blue-container {
  @extend .blue-bg;

  position: relative;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 7px;
    width: 100%;

    @extend .light-blue-bg;
  }
}

// INDENTS
.content-padding-top {
  padding-top: 400px;
  padding-left: 132px;

  @media (max-width: $xxl - 1) {
    padding-left: 40px;
  }

  @media (max-width: $tablet) {
    padding-left: 15px;
  }
}

.small-content-padding-top {
  padding-top: 290px;
}

.w-100 {
  @media (max-width: $tablet) {
    margin: 0 auto;
  }
}

// MEDIA
@media (max-width: $md) {
  .content-padding-top {
    padding-top: 490px;
  }
}

@media (max-width: $tablet - 1) {
  .two-columns {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: none;
    -moz-column-rule: none;
    column-rule: none;
  }
}

@media (max-width: $mobile - 1) {
  .small-content-padding-top {
    padding-top: 20px;
  }

  .content-padding-top {
    min-height: 400px;
    padding-top: 10px;
  }

  .radio-in-line input[type=radio] + label:first-of-type {
    width: 350%;
  }
}
