$white: #fff;
$black: #282c33;
$dark-black: #23262b;
$orange: #ffaa00;
$gray: #b8bfcc;
$text-gray: #929497;
$light-gray: #e7ebf3;
$blue: #004b9c;
$light-blue: #1679de;
$blue-facebook: #3b5998;
$dark-blue: #003f82;
$red: #cd201f;
$violet: #833ab4;
$dark-red: #cb1f27;
$green: #62b312;
$table-border-color: #b8becc;
$gray-star: #b8bdcc;

$primary-font: "Roboto", sans-serif;
$secondary-font: "Chivo", sans-serif;
$icon-font: "RolfsBuss", sans-serif;

// SIZES
$notebook: 1366px;
$tablet: 768px;
$mobile: 576px;


$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1920px;

