.boka-5__email {
  input {
    border: 1px solid #515866;
    text-indent: 1rem;
    height: 38px;
  }
}

.boka-5__amount {
  input {
    border: 1px solid #515866;
    text-indent: 1rem;
    height: 38px;
    max-width: 140px;
  }
}

.boka-5__pay-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  border: 1px solid $gray;
  text-align: center;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
}

.boka-5__btn {
  max-width: 140px;
  width: 100%;
}
